<section class="advantages" id="advantages">
  <h2 class="info_maintitle lng-book">Як забронювати?</h2>
  <div class="advantages__container">
    <ul class="advantages__list">
      
      <li class="advantages__item advantages_link heard">
        <img class="info_img" src="./images/traveling/post1.jpg" />
        <h2 class="info_title lng-booktitle1">1. Залишаєте заявку</h2>
        <p class="advantages__text lng-booktext1">Натискаєте та кнопку
          <br> BUY NOW, або телефонуєте.</p>
      </li>
      
      
      <li class="advantages__item advantages_link heard">
          <img  class="info_img" src="./images/traveling/post2.jpg" />
           <h2 class="info_title lng-booktitle2">2. Ми уточнюємо Ваші побажання</h2>
        <p class="advantages__text lng-booktext2">
          Менеджер у розмові з вами уточнює деталі туру.
        </p>
      </li>
      
      <li class="advantages__item advantages_link heard">
        <img class="info_img" src="./images/traveling/post3.jpg" />
        <h2 class="info_title lng-booktitle3">3. Підбираємо для Вас варіанти відпочинку</h2>
        <p class="advantages__text lng-booktext3">На основі Ваших пріоритетів, пропонуємо Вам варіанти на вибір.</p>
      </li> 
      

      <li class="advantages__item advantages_link heard">
        <img class="info_img" src="./images/traveling/post4.jpg" />
        <h2 class="info_title lng-booktitle4">4. Оплата туру</h2>
        <p class="advantages__text lng-booktext4">Є можливість оплатити на сайті 24/7, або у нашому офісі.</p>
      </li>

      <li class="advantages__item advantages_link heard">
        <img class="info_img" src="./images/traveling/post5.jpg" />
        <h2 class="info_title lng-booktitle5">5. Видача документів</h2>
        <p class="advantages__text lng-booktext5">Отримуєте вашу путівку, у нас в офісі або відправляємо документи на електронну пошту.</p>
      </li>

      <li class="advantages__item advantages_link heard">
        <img class="info_img" src="./images/traveling/post6.jpg" />
        <h2 class="info_title lng-booktitle6">6. Насолоджуєтеся відпочинком</h2>
        <p class="advantages__text lng-booktext6">Ми працюємо - ви відпочиваєте!</p>
      </li>
    </ul>
  </div>
</section>


