<section class="section second-title" id="constructor">
    <div class="products container">

        <h2 class="constructor constructor__title animate__animated animate__jackInTheBox lng-hot">
            Конструктор турів
        </h2>
        <h3 class="lng-constructortitle conrt-title">Створи свою найкращу подорож</h3>
    </div>

    <div class="unit">
        <div id="e68d1f5a-1e5d-47a9-9b1a-e63a45842540"></div>
        <script>
            var script = document.createElement('script');
            script.src = '//80032.unit.travel/static/form-widget/js/proxy/base.js';
            document.head.append(script);
            script.onload = function () { EmbeddedFormWidget.build({ "containerId": "e68d1f5a-1e5d-47a9-9b1a-e63a45842540", "domain": "80032.unit.travel", "config": { "refmid": "161287", "products": "hotel,flight", "lang": "ua", "searchmode": "modal", "bookmode": "onsite", "form": { "view": "horizontal", "bg": "default", "tabtxtcl": "#3E3E3E", "tabunderlinecl": "#0064CE", "btnbg": "#0064CE", "btntxtcl": "#ffffff" }, "search": { "hotel": { "adl": "2" }, "flight": { "dep": "10159", "adl": "1" } } } }); };
        </script>
    </div>


</section>