<!-- ========== Products ========== -->
<section class="search section__products" id="products">
  <div class="products">

    <h2 class="products__title animate__animated animate__jackInTheBox lng-hotsearch">
      Пошук туру
    </h2>
    <div class="ittour">

    <div id="toursua-module-10908"></div>
    <script src="https://mod.tours.ua/gen/module?id=3094300e502493cd790997498e594da9"></script>

      <!-- <div id="itTourWidgetWrapper"></div>
      <script id="itTourWidgetScriptJsx" tourTab="1" euroTab="1" guidedTab="1" ticketsTab="1"
        src="https://www.ittour.com.ua/tour_search.jsx?id=D1442595G42630N93033504&ver=3"></script>
        </div>  -->

      <!-- <div id="itTourWidgetWrapper"></div>
      <script id="itTourWidgetScriptJsx" tourTab="1" euroTab="1" guidedTab="1" ticketsTab="1"
        src="https://www.ittour.com.ua/tour_search.jsx?id=9508241D79GO2776820549450&ver=3"></script> -->

</section>

<section class="section__products" id="products">
  <div class="products">

      <div>

      
        <!-- <form class="button-mobile" action="./hot.html" method="get" target="_blank">
          <button type="submit">Пошук туру</button>
        </form> -->
        <!-- <button class="button-mobile" type="button">
          Пошук туру
          <a href="./hot.html"></a>
        </button> -->
      </div>

    <!-- <h2 class="products__title animate__animated animate__jackInTheBox lng-search">
      Гарячі тури
    </h2> -->

    <!-- Модуль ITTOUR Гарячітури -->
  
    <!-- <div class="ittour">
      <div id="showcase_hotprice_v3_showcase_module"></div>
      <script src="https://www.ittour.com.ua/showcase_search.jsx?id=52653DG3113704891122484O0&type=110"></script>
     
    </div> -->


</section>


