<!-- ========== Products ========== -->
<section class="section section__products" id="products">
  <div class="products container">

    <h2 class="products__title animate__animated animate__jackInTheBox lng-search">
      Пошук туру
    </h2>
    <div class="ittour">
      <div id="itTourWidgetWrapper"></div>
      <script id="itTourWidgetScriptJsx" tourTab="1" euroTab="1" guidedTab="1" ticketsTab="1"
        src="https://www.ittour.com.ua/tour_search.jsx?id=D1442595G42630N93033504&ver=3"></script>
    </div>

    <!-- 
    <div class="hot_tour">
      <div id="showcase_hotprice_v3_showcase_module"></div>
      <script src="https://www.ittour.com.ua/showcase_search.jsx?id=282435D917G371N55990244&type=110"></script>
    </div> -->

</section>